'editor':
  'fontSize': 14
  'softWrap': true
  'showIndentGuide': true
  'showInvisibles': true
  'normalizeIndentOnPaste': false
'core':
  'audioBeep': false
  'disabledPackages': [
    'autocomplete-plus'
    'markdown-format'
  ]
  'themes': [
    'flatland-dark-ui'
    'ir-black-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.log'
    '.scssc'
  ]
'exception-reporting':
  'userId': '269a4d18-9704-90cc-4545-df739b838308'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'ef6ff791d0475579aa49d06b66838c195996b556'
'find-and-replace':
  'focusEditorAfterSearch': true
  'openProjectFindResultsInRightPane': false
'fuzzy-finder':
  'ignoredNames': [
    '*.log'
    '*.scssc'
  ]
